.hero__table{
  margin-top: 24px;
}

.hero__tbody{
  border-top: 0 !important;
}

th{
  color: #333996;
  font-weight: 500 !important;
  background-color: #3c44b126 !important;
  line-height: 1.5rem;
  padding: 16px !important;
  font-size: 0.875rem;
  letter-spacing: 0.01071em;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover{
    color: rgba(0, 0, 0, 0.54);

    .bx{
      color: rgba(0, 0, 0, 0.54);
      opacity: 1;
      z-index: 100;
    }
  }
}

td{
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  padding: 16px !important;
  font-size: 0.875rem;
  line-height: 3 !important;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
}

.head-btn{
   border: none;
   background-color: transparent;
   position: relative;
   top: 5px;

   .bx{
      font-size: 20px;
      transition: all 0.3s ease;
      opacity: 0;
      z-index: -999;
   }
}

tr{
  transition: all 0.3s ease;

  &:hover{
    background-color: #fffbf2;
    cursor: pointer;
  }
}

.confirm-box{
  position: fixed;

  button{
    padding: 10px;
    border: none;
    background: transparent;
  }
}
